
<%= form_for(@message) do |f| %>
    <% if @message.errors.present? %>
        <div class="alert alert-danger">
        <%= alert %>
        <ul>
                <% @message.errors.full_messages.each do |full_message| %>
                <li>
                    <%= full_message %>
                </li>
                <% end %>
        </ul>
        </div>
    <% end %>

<form class="form-horizontal">
    <div class="form-group form-inline">
        <%= f.label :name ,"名前" %>
        <%= f.text_field :name %>
    </div>
    <div class="form-group form-inline">
        <%= f.label :body ,"内容" %>
        <%= f.text_area :body %>
    </div>
    <%= f.submit class: "btn btn-sm btn-primary" %>
</form>
<% end %>